.form {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 16px;

  input,
  textarea {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    border: none;
    outline: none;
    border: 1px solid var(--neutral);
    border-radius: 4px;
  }
}

@media screen and (max-width: 48rem) {
  .form {
    width: 100%;
  }
}
