@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

:root {
  --text-primary: #000;
  --black-color: #000;
  --white-color: #fff;
  --background-primary: #ffff;
  --background-secondary: #666;
  --neutral-lightest: #eee;
  --neutral-lighter: #ccc;
  --neutral: #666;

  --text-hover: #535c68;

  --header-height: 72px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: var(--text-primary);
  background-color: var(--background-primary);
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
  overflow: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--text-primary);
}

a {
  text-decoration: none;
  color: var(--text-primary);
}
