@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

:root {
  --text-primary: #34495e;
  --black-color: #000;
  --white-color: #fff;
  --background-color: #3498db;
  --background-primary: #ffff;
  --background-secondary: #666;
  --neutral-lightest: #eee;
  --neutral-lighter: #ccc;
  --neutral: #666;

  --text-hover: #535c68;

  --header-height: 72px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: var(--text-primary);
  background-color: var(--background-primary);
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
  overflow: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--text-primary);
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}

.heading {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: calc(57 / 48);
}

@media screen and (max-width: 1023.98px) {
  .heading {
    font-size: 4rem !important;
    line-height: calc(43 / 36) !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 767.98px) {
  .heading {
    font-size: 3.2rem !important;
    line-height: calc(33 / 28) !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 374.98px) {
  .heading {
    font-size: 2.6rem !important;
    line-height: calc(29 / 24) !important;
    text-align: center !important;
  }
}

section {
  padding: 112px 0;
}

@media screen and (max-width: 1023.98px) {
  section {
    padding: 80px 0 !important;
  }
}

@media screen and (max-width: 767.98px) {
  section {
    padding: 64px 0 !important;
  }
}

// 1440 - margin 112px, gap 80px
// 1024 - margin 80px, gap 60px
// 768 - margin 64px, gap 40px
// 375 - margin 64px, gap 24px
// 1023 = 63.938rem
// 767 = 48rem
// 374 = 23.313rem
