.content {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  margin-top: calc(var(--header-height) + 10px);
  padding: 0 64px;
}

@media screen and (max-width: 1023.98px) {
  .content {
    padding: 0 42px;
  }
}

@media screen and (max-width: 767.98px) {
  .content {
    padding: 0 32px;
  }
}

@media screen and (max-width: 374.98px) {
  .content {
    padding: 0 20px;
  }
}
