.product {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
}

.product-img {
  // width: 304px;
  // height: 330px;
  background-color: #333;
  border-radius: 8px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  &:hover {
    transform: scale(1.05);
    transition: 0.3s linear;
  }
}
.product-content {
  flex: 1;
}

.product-name {
  font-size: 2rem;
  font-weight: 600;
  line-height: calc(27 / 20);
  margin-bottom: 16px;
  margin-top: 16px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-desc {
  font-size: 1.6rem;
  line-height: calc(27 / 18);
  margin-bottom: 16px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-add {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-price {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: calc(30 / 19);
}
.product-btn {
  max-width: 180px;
}

@media screen and (max-width: 1280px) {
  .product-add {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 8px;
  }
}

@media screen and (max-width: 1023.98px) {
  .product-name {
    font-size: 1.8rem;
    line-height: calc(27 / 18);
    margin-bottom: 10px;
  }

  .product-desc {
    font-size: 1.4rem;
    line-height: calc(27 / 16);
    margin-bottom: 10px;
  }

  .product-add {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 8px;
  }
}

@media screen and (max-width: 767.98px) {
  .product {
    padding: 8px;
  }

  .product-name {
    font-size: 1.6rem;
    line-height: calc(27 / 16);
    margin-bottom: 8px;
  }

  .product-desc {
    font-size: 1.4rem;
    line-height: calc(27 / 16);
    margin-bottom: 8px;
  }

  .product-price {
    font-size: 1.6rem;
    line-height: calc(27 / 16);
  }
}
