.product {
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  &:hover .product-favorite {
    transform: translateX(0%);
  }

  &:hover .product-img img {
    transform: scale(1.05);
    transition: 0.3s linear;
  }
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-img {
  // width: 304px;
  height: auto;
  min-height: 310px;
  max-height: 310px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  flex-shrink: 0;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
  }
}

.product-favorite {
  position: absolute;
  transform: translateX(250%);
  top: 20px;
  right: 20px;
  z-index: 1;
  transition: 0.3s linear;
  padding: 4px;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.product-favorite-bold {
  overflow: hidden;
  .product-icon {
    color: var(--background-color);
  }
}

.product-content {
  flex: 1;
  margin-top: auto;
}

.product-name {
  font-size: 2rem;
  font-weight: 600;
  line-height: calc(27 / 20);
  margin: 16px 0 8px 0;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: text;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 6px;
}

.product-tag {
  display: inline-block;
  margin-bottom: 24px;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: var(--tag-background-color);
  padding: 4px 8px;
  color: var(--white-color);
  border-radius: 4px;
}

.product-desc {
  font-size: 1.6rem;
  line-height: calc(27 / 18);
  margin-bottom: 16px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-add {
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}
.product-price {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: calc(30 / 19);
  cursor: text;
}
.product-btn {
  max-width: 160px;
  background-color: #0097e6;

  span {
    font-size: 1.4rem;
  }
}

.product-view {
  padding: 4px 12px;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    background-color: var(--btn-background-hover);
  }
}

.product-icon {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

@media screen and (max-width: 1280px) {
  .product-add {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 8px;
  }
}

@media screen and (max-width: 1023.98px) {
  .product-name {
    font-size: 1.8rem;
    line-height: calc(27 / 18);
    margin-bottom: 10px;
  }

  .product-desc {
    font-size: 1.4rem;
    line-height: calc(27 / 16);
    margin-bottom: 10px;
  }

  .product-add {
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 8px;
  }
}

@media screen and (max-width: 48rem) {
  .product {
    padding: 14px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .product-name {
    font-size: 1.6rem;
    line-height: calc(27 / 16);
    margin-bottom: 8px;
  }

  .product-desc {
    font-size: 1.4rem;
    line-height: calc(27 / 16);
    margin-bottom: 8px;
  }

  .product-price {
    font-size: 1.6rem;
    line-height: calc(27 / 16);
  }

  .product-tag {
    margin-bottom: 18px;
  }
}
